title: "Alex Bue"
project:
  type: website
  output-dir: _site

website:
  site-url: https://aobue.github.io
  navbar:
    left:
      - text: "Home"
        href: index.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: false
    page-layout: full
    title-block-banner: false