project:
  type: website
  output-dir: _site

website:
  title: "Alex Bue"
  site-url: https://aobue.github.io
  navbar: false

format:
  html:
    theme: cosmo
    css: styles.css
    toc: false
    page-layout: full
    title-block-banner: false